{
    "extends": "google",
    "parserOptions": {
        "ecmaVersion": 5
    },
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "dot-notation": 2,
        "no-unused-vars": 1,
        "no-var": 1,
        "no-empty": 2,
        "max-len": [2, 100],
        "max-params": [2,3]
    }
}